<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<style lang="scss">
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: blue;
      text-decoration: underline;
    }
  }
</style>
